// variables
$light-pink: hsl(275, 100%, 97%);
$grayish-purple: hsl(292, 16%, 49%);
$dark-purple: hsl(292, 42%, 14%);
$purple: #9a2cd5;

// reset styles
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
}

// mixin for flex center
@mixin flex-center($direction: row, $align-items: none, $justify-content: none) {
  display: flex;
  flex-direction: $direction;
  align-items: $align-items;
  justify-content: $justify-content;
}