@import "config";

// body styles
body {
  @include flex-center(column, center, center);
  background: url(../assets/images/background-pattern-desktop.svg) no-repeat top center;
  background-size: 100vw;
  min-height: 100vh;
}

// card div style
.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px 3px #0000004f;
  width: 500px;
  height: auto;
  transition: height 3s;

  // card title
  &--title {
    @include flex-center(row, center);
    gap: 15px;
    padding: 20px 30px;
    padding-bottom: 0;

    img {
      width: 30px;
    }
  }

  &--faqs {
    padding: 20px;
  }
}

// styles for each question and answer row
.row {
  display: grid;
  grid-template-columns: 95% 6%;
  row-gap: 10px;
  text-align: left;
  align-content: center;
  border: none;
  border-bottom: 1px solid rgb(221, 221, 221);
  padding: 15px;
  background-color: white;
  width: 100%;

  img {
    @include flex-center(row, center, center);
    width: 28px;
  }

  &:nth-last-child(1) {
    border: none;
  }


 .questions {
  color: hsl(292, 42%, 14%);
  font-size: 15px;
  font-weight: 700;
  padding-bottom: 0;
  align-content: center;
  transition: color 0.3s;
  cursor: pointer;

  &:hover {
    color: $purple;
  }
 }

 p {
  padding-bottom: 10px;
  color: hsl(292, 16%, 49%);
  font-size: 14px;
  line-height: 1.3rem;
 }
}

.div-btn {
  cursor: pointer;
}

footer {
  position: sticky;
  top: 97%;
}

@import "media-query";